
.backgroundImage {
  height: 90vh;
  width: 100vw;
  background-image: url('img/BackgroundFront.jpeg');

  flex-wrap: wrap;
}

.servicesCardsDesign {
    margin:0em;
    padding: 0em;
    width: 100vw;
    height: 88vh;
  }
  