.allUsersBackgroundDesign {
    height: 90vh;
    width: 100vw;
    background-image: url('img/BackgroundFront.jpeg');

    display: flex;
    flex-direction: column;
    align-items: center;
}

.userListDesign {
    display: flex;
    justify-content: center;
    align-items: center;
}