.allUsersBackgroundDesign {
    height: 90vh;
    width: 100vw;
    background-image: url('img/BackgroundFront.jpeg');
}

.userGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(14em, 1fr));
}
.userListDesign {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}