.cardDesign {
    height: 14em;
    width: 26em;
    border-radius: 2em;
    background-color: rgb(170, 170, 170);
    margin: 1em;
    color: solid rgb(173, 173, 173);
    font-size: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
}

.cardDesign:hover {
    cursor: pointer;
    background-color: rgb(143, 143, 143);
    transition: 0.2s;
}

.titleDesign {
    margin: 1em;
    font-weight: bold;
    font-size: 1.2rem;
}