
.cardDesign {
    height: 14em;
    width: 26em;
    border-radius: 0.5em;
    background-color: rgb(208, 206, 253);
    margin: 1em;
    color: solid black;
    font-size: 1em;
    display: flex;
    flex-direction: column;

}