.createAppointmentDesign {
    height: 88vh;
    width: 100vw;
    background-color: rgb(48, 35, 129);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}