.navigatorDesign {
    color: rgb(51, 51, 51);
    font-weight: bold;
    transition: 0.2s;
    margin: 1em;
}

.navigatorDesign:hover {
    color: rgb(30, 30, 30);
    transition: 0.2s;
    cursor: pointer
}