.navigatorDesign {
    color: rgb(255, 255, 255);
    font-weight: bold;
    transition: 0.2s;
    margin: 1em;
}

.navigatorDesign:hover {
    color: rgb(45, 45, 45);
    transition: 0.2s;
    cursor: pointer
}