.headerDesign {

    height: 10vh;
    width: 100vw;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;

    background-color: rgb(0, 0, 0);
}

.authMenu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}